#body{
    background-color: azure;
}

#prcol{ 
    background-color: azure;
    padding-right: 20px;
}
#estcol{ 
    padding-left: 20px;
    background-color: azure;
    padding-right: 20px;
}
#crcol{ 
    padding-left: 20px;
    background-color: azure;
    padding-right: 20px;
}
.col {
    text-align: center;
    margin-left: auto;

}


/*Estilos_portal_de_profesores*/

.containerpr{
    display: flex;
    align-items: center;
}
.texto{ 
    padding: 20px;
}
#umglogo{ 
    margin-left: 65%;
    width: 120px;
}
