<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoFinal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="containerpr">
        <div class="texto">
            <h1>Bienvenido!</h1>
            <h2>Portal de Profesores</h2>
        </div>
        <img src="logoumg.png" alt="logo umg" id="umglogo">
    </div>
    <div>
        <button>Agregar Profesor</button>
        <div class="input-group-mb3">
            <input type="text" class="form-control" placeholder="Nombre">
            <input type="text" class="form-control" placeholder="Apellido">

        </div>
    </div>
    



</body>
</html>